.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
  // background-color: red;
}

.main-page__textsedona-image {
  position: relative;
  left: 100px;
  min-width: 320px;
}

.main-page__background {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center 10px;
  background-size: cover;
}

.advantages__list {
  padding-left: 0;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.item-benefits--blue {
  background-color: #81b3d2;
  color: #ffffff;
  align-items: center;
}

.item-benefits__number {
  font-size: 14px;
  line-height: 21px;
}

.item-benefits__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-left: 10px;
}

.features__item {
  list-style: none;
  text-align: left;
}

.features__item--home {
  background-image: url("../img/icon-house.svg");
  position: relative;
  background-repeat: no-repeat;
  color: #81b3d2;
  padding-left: 50px;
  // padding-top: 1px;
}

.features__item--souvenirs {
  background-image: url("../img/icon-gift.svg");
  position: relative;
  background-repeat: no-repeat;
  olor: #81b3d2;
  padding-left: 50px;
}

.features__item--food {
  background-image: url("../img/icon-burger.svg");
  position: relative;
  background-repeat: no-repeat;
  color: #81b3d2;
  padding-left: 50px;
}

.item-benefits__list {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  color: #7d7d7d;
}

.advantages__items {
  list-style: none;
  font-size: 18px;
  line-height: 26px;
}

.item-benefits {
  text-align: center;

  .item-benefits__subtitle {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
  }
}

.item-benefits--grey {
  background-color: #eeeeee;
}

.copyright__link {
  position: relative;
  top: 12px;
}
