.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.hashtag__name {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 39px 0 36px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social__item {
  display: flex;
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.social__item:hover {
  background-color: #669ec0;
}

.copyright__text {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-footer {
    width: 648px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .main-footer__hashtag {
    min-width: 196px;
  }

  .main-footer__social {
    min-width: 256px;
  }

  .main-footer__copyright {
    min-width: 196px;
  }
}
