.main-nav {
  position: relative;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  align-items: center;
  background-color: #81b3d2;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 0;
  min-width: 320px;
  text-align: center;
}

.site-list__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-list__item:nth-last-child(2n+1) {
  box-shadow: 0 0 1px #678fa8;
}

.site-list__item:nth-last-child(2n) {
  box-shadow: 0 0 1px #9ac2db;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav__toggle {
    position: absolute;
    bottom: -58px;
    right: 0;
    z-index: 2;
    display: block;
    width: 57px;
    height: 55px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    margin-right: 10px;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 12px;
    width: 36px;
    height: 2px;
    cursor: pointer;
    background-color: #81b3d2;
    box-shadow: 0 10px 0 0 #81b3d2, 0 20px 0 0 #81b3d2;
  }

  .main-nav--opened .main-nav__toggle {
    top: 0;
    left: auto;
    right: 0;
    background-color: #81b3d2;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 21px;
      width: 28px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::after,
    &:active::before {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &--active {
    display: block;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-width;
    margin: 0;
  }

  .main-page__background {
    margin-top: -89px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .site-list__item {
    width: 153px;
    padding-top: 6px;
  }

  .site-list__item:nth-child(2) {
    padding-right: 152px;
  }

  .site-list__item:nth-last-child(2n+1) {
    box-shadow: none;
  }

  .site-list__item:nth-last-child(2n) {
    box-shadow: none;
  }

  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }

  .site-list__link:hover {
    color: #88b6d1;
  }

  .site-list__link:active {
    color: #b2b2b2;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-between;
    margin: 0;
  }

  .site-list__link {
    padding-top: 20px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
    padding: 0;
  }

  .site-list__item {
    width: 253px;
    color: #000000;
    margin: 0;
    padding: 0;
  }

  .site-list__item:nth-child(2) {
    padding-right: 153px;
  }

  .site-list__item:nth-last-child(2n+1) {
    box-shadow: none;
  }

  .site-list__item:nth-last-child(2n) {
    box-shadow: none;
  }

  .site-list__link:hover {
    color: #88b6d1;
  }

  .site-list__link:active {
    color: #b2b2b2;
  }
}
