.photos-page {
  max-width: 320px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
}

.photos {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  // max-width: 320px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0 auto;
}

.photos-page__background {
  background-image: url(" ../img/bg-intro-triangle-mobile.svg"), url(" ../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 158px;
  margin: 0;
  padding: 0;
  margin-top: -36px;
}

.photos-page__textsedona-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 229px;
  padding-top: 50px;
  margin: auto;
}

.photos__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  padding-bottom: 26px;
  padding-top: 38px;
}

.photos__description {
  // max-width: 320px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #7d7d7d;
  padding-right: 5px;
  padding-bottom: 27px;
  border-bottom: 1px solid red;
}

.photos-examples__img img {
  display: flex;
  width: 100%;
}

.photos__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.photos-examples__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 16px;
}

.photos__items {
  list-style: none;
  padding: 0;
  margin: 0;
  // padding-bottom: 21px;
  border-bottom: 1px solid red;
}

.photos-examples__author {
  text-transform: none;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}

.photos-examples__likes {
  font-weight: bold;
  padding-left: 37px;
  padding-top: 3px;
  margin: 0;
}

.photos-examples__likes--thumbsup {
  background-image: url("../img/icon-like min.svg");
  width: 22px;
  height: 18px;
  position: relative;
  background-repeat: no-repeat;
  opacity: 0.4;
  margin-bottom: 24px;
}

.photos__items:nth-child(1) {
  margin-top: 20px;
}

.photos__items:nth-child(2) {
  margin-top: 23px;
}

.photos__items:nth-child(3) {
  margin-top: 20px;
}

.photos__items:nth-child(4) {
  margin-top: 20px;
}

.photos-examples__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .photos-page {
    max-width: @tablet-width;
    padding: 0;
    margin: 0;
  }

  .photos__title {
    font-size: 30px;
    padding-top: 74px;
  }

  .photos__items {
    border-bottom: 0;
  }

  .photos-page__background {
    background-image: url(" ../img/bg-intro-triangle-tablet.svg"), url(" ../img/bg-back-tablet@1x.jpg");
    height: 290px;
    margin-top: -89px;
  }

  .photos-page__textsedona-image {
    width: 460px;
    padding-top: 94px;
  }

  .photos {
    max-width: @tablet-width;
    padding: 0;
    margin: 0;
  }

  .photos__description {
    max-width: 648px;
    margin: 0;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 74px;
    border-bottom: 0;
    box-sizing: border-box;
  }

  .photos-examples {
    width: 324px;
    padding: 0;
    margin: 0;
  }

  .photos-examples__title {
    padding-left: 20px;
  }

  .photos-examples__author {
    padding-left: 20px;
  }

  .photos-examples:first-child {
    width: 100%;
    min-height: 400px;
    margin: 0;
  }

  .photos-examples:last-child {
    width: 324px;
    margin: 0;
  }

  .photos-examples:nth-child(2) {
    background-color: #eaeaea;
    margin: 0;
  }

  .photos-examples:nth-child(2n+3) {
    background-color: #eaeaea;
    margin: 0;
  }

  .photos__list {
    display: flex;
    max-width: @tablet-width;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    justify-content: flex-start;
    margin-left: 60px;
    margin-right: 60px;
  }

  .photos-examples__wrapper {
    background-color: #f2f2f2;
    height: 80px;
  }

  .photos-examples__likes--thumbsup {
    // background-image: url("../img/icon-like min.svg");
    // // position: relative;
    // background-repeat: no-repeat;
    opacity: 1;
    // top: -41px;
    // left: 563px;
  }

  .photos-examples__likes {
    padding-left: 32px;
    padding-top: 2px;
  }

  .features__item:nth-of-type(1) {
    order: 1;
  }

  .features__item:nth-of-type(2) {
    order: 3;
  }

  .features__item:nth-of-type(3) {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .photos-page {
    max-width: @desktop-width;
    padding: 0;
    margin: 0 auto;
  }

  .photos__title {
    padding-top: 113px;
    padding-bottom: 29px;
  }

  .photos__items {
    border-bottom: 0;
  }

  .photos-page__textsedona-image {
    padding-top: 102px;
  }

  .photos-page__background {
    background-image: url(" ../img/bg-intro-triangle-desktop.svg"), url(" ../img/bg-back-desktop@1x.jpg");
    height: 301px;
    // margin-top: -89px;
  }

  .photos {
    max-width: @desktop-width;
    padding: 0;
    margin: 0;
  }

  .photos__description {
    max-width: @desktop-width;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 72px;
  }

  .photos__list {
    display: flex;
    max-width: @desktop-width;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .photos-examples {
    position: relative;
    width: 400px;
    padding: 0;
    margin: 0;
  }

  .photos-examples:first-child {
    width: @desktop-width;
  }

  .photos-examples__wrapper {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: -80px 0 0;
    height: 80px;
  }

  .photos-examples__title {
    color: #ffffff;
  }

  .photos-examples__author {
    color: #ffffff;
  }

  .photos-examples__likes {
    color: #ffffff;
  }

  .photos-examples__likes--thumbsup {
    color: #ffffff;
    // left: 315px;
  }

  .photos-examples__img img {
    display: flex;
    width: 100%;
  }

  .photos-examples:last-child {
    width: inherit;
  }
}
