.review {
  min-width: 320px;
}

.review-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.review-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 34px;
  padding-top: 41px;
}

.review-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0 0 45px;
}

.username__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 24px;
}

.review-form__username {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 50px;
  text-align: left;
}

.username__name {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.username__inputname {
  min-width: 230px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 22px;
  color: #000000;
}

.inputname__username {
  margin-bottom: 20px;
}

.username__surname {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.username__inputsurname {
  min-width: 192px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 22px;
  color: #000000;
}

.inputname__inputsurname {
  margin-bottom: 20px;
}

.username__patronymic {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.username__inputsurpatronymic {
  min-width: 194px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 22px;
  color: #000000;
}

.review-form__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 53px;
}

.contact__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 24px;
}

.contact__phone {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.contact__inputphone {
  min-width: 280px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 22px;
  color: #000000;
}

.inputphone__contact {
  margin-bottom: 17px;
}

.contact__mail {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.contact__inputmail {
  min-width: 280px;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  padding-left: 22px;
  color: #000000;
}

.inputmail__contact {
  margin-bottom: 19px;
}

.review-form__impression {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 52px;
  text-align: left;
}

.impression__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 24px;
  text-align: center;
}

.impression__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.impression__input {
  margin: 0;
  padding: 0;
}

.review-form__sights {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 50px;
  text-align: left;
}

.sights__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 24px;
  text-align: center;
}

.sights__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.review-form__description {
  border: none;
}

.description__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 24px;
  text-align: center;
}

.description__textarea {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
  padding: 0;
  margin: 0;
}

.review-form__submit {
  display: block;
  font-weight: bold;
  padding: 17px 0;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  width: 281px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  justify-content: center;
}
