.videocontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  padding-left: 0;
  padding-bottom: 78px;
}

.videocontent__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
}

.videocontent__item {
  max-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #6e6e6e;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 36px;
}

.videocontent__control {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}

.videocontent__slidecontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 280px;
  height: 49px;
  background-color: #000000;
  opacity: 0.5;
  margin-top: -55px;
}

.videocontent__slider {
  margin-top: 22px;
  margin-left: 22px;
  appearance: none;
  width: 235px;
  height: 3px;
  border-radius: 9px;
  border-color: #f2f2f2;
  background: #ffffff;
  outline: none;
}

.videocontent__slider::-webkit-slider-thumb {

  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.videocontent__slider::-moz-range-thumb {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.videocontent__replay {
  padding-left: 25px;
  padding-top: 22px;
  vertical-align: middle;
  align-items: center;
}

.videocontent__subtitle {
  padding-left: 133px;
  padding-top: 22px;
  vertical-align: middle;
  align-items: center;
}

.videocontent__fullscreen {
  padding-left: 31px;
  padding-top: 22px;
  vertical-align: middle;
  align-items: center;
}



@media (min-width: @tablet-width) {
  .videocontent {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .videocontent__item {
    max-width: 100%;
    // padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 6px 170px 74px;
  }

  .videocontent__video {
    max-width: 648px;
    margin: 0 auto;
    padding-bottom: 76px;
  }

  .videocontent__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 66px;
  }

  .videocontent__video img {
    display: flex;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .videocontent {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .videocontent__item {
    max-width: 100%;
    // padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 8px 390px 69px;
  }

  .videocontent__video {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 118px;
  }

  .videocontent__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 69px;
  }

  .videocontent__video img {
    display: flex;
    width: 100%;
  }
}
