.videocontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  padding-left: 0;
  padding-bottom: 100px;
}

.videocontent__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
}

.videocontent__item {
  max-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #6e6e6e;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .videocontent {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .videocontent__item {
    max-width: 100%;
    // padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 6px 170px 74px;
  }

  .videocontent__video {
    max-width: 648px;
    margin: 0 auto;
    padding-bottom: 76px;
  }

  .videocontent__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 66px;
  }

  .videocontent__video img {
    display: flex;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .videocontent {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .videocontent__item {
    max-width: 100%;
    // padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 8px 390px 69px;
  }

  .videocontent__video {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 118px;
  }

  .videocontent__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 69px;
  }

  .videocontent__video img {
    display: flex;
    width: 100%;
  }
}
