.videocontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  min-width: 320px;
  padding-left: 0;
}

.videocontent__title {
  font-weight: bold;
}

.videocontent__item {
  font-size: 14px;
  line-height: 24px;
  color: #6e6e6e;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
