.main-nav {
  background-color: #81b3d2;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
}

.main-nav__list {
  list-style: none;
}

.site-list__item {}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
}

.page-header__logo-image {
  max-width: 100%;
  height: auto;
}

.page-header__background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 390px;
}
