@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
}

@import "blocks/page-header.less";
@import "blocks/advantages.less";
@import "blocks/searching.less";
@import "blocks/main-footer.less";
@import "blocks/photos-page.less";
@import "blocks/videocontent.less";
@import "blocks/review.less";
@import "blocks/map.less";
@import "blocks/normalize.less";
@import "blocks/main-nav";

body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-repeat: no-repeat;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: auto;
  min-width: 320px;
}

.visually-hidden {
  display: none;
}
